################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/front/.vscode
/revomed.tar
/docker-compose.yaml
