@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --radius-box: 1rem;
  --radius-field: 0.5rem;
  --radius-selector: 1rem;
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  
  /*use as label level*/
  h4 {
    @apply text-sm font-semibold;
  }
  
  p {
    @apply text-sm text-base-content/70;
  }
}

.label:has(+ *:required) {
  @apply label-star;
}
/* 
@utility menu-gradient {
  /* --menu-active-bg: var(--color-white); */
  /* --menu-active-fg: linear-gradient(to right, var(--color-red-500), var(--color-secondary)); */
  /* --menu-active-bg: linear-gradient(to right, var(--color-red-500), var(--color-secondary)); */
/* } */

@utility badge-* {
  --badge-color:--value(--color-*);
}

@utility badge-fg-* {
  --badge-fg:--value(--color-*);
}

@utility label-star {
  &::after {
    content: '*';
    color: var(--color-red-500);
  }
}
/* 
@utility label-star {
  @apply labelstar;
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .drawer-side > *:not(.drawer-overlay) { grid-row-start: 1; grid-column-start: 1; transition: all 0.4s; } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  /* padding: 1rem; */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}