@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .drawer-side > *:not(.drawer-overlay) { grid-row-start: 1; grid-column-start: 1; transition: all 0.4s; } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  /* padding: 1rem; */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}